@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Geist Sans';
  --font-geist-mono: 'Geist Mono';
  --font-playwrite: 'Playwrite';
  --font-garamond: 'Garamond';
  --font-space-grotesk: 'Space Grotesk';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}